* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

button,
a {
  cursor: pointer;
}

:root {
  --blue: #252b42;
}

.MuiMenu-root li,
.MuiInputBase-root div {
  font-family: 'Montserrat', sans-serif;
  color: rgb(60, 64, 67);
  font-weight: 500;
  letter-spacing: normal;
  font-size: 0.85rem;
}
